{% extends 'base.html' %}
{% block content %}
    <div class="overflow-auto"></div>
    <div class="box">
            <div class="box-header">
              <h3 id="test_ajax" class="box-title">Контакты</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                  <div class="col-sm-6"></div>
                  <div class="col-sm-6"></div>
                  <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                      <thead>
                      <tr role="row">
                          <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">ID
                              {% if KEYSorted %}
                                  <a class="float-right" href="{% url 'contacts' %}?KEY_sort2">&#11014;</a>
                              {% else %}
                                  <a class="float-right" href="{% url 'contacts' %}?KEY_sort1">&#11015;</a>
                              {% endif %}
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Имя
                              {% if subjectSorted %}
                                  <a class="float-right" href="{% url 'contacts' %}?subject_sort2">&#11014;</a>
                              {% else %}
                                  <a class="float-right" href="{% url 'contacts' %}?subject_sort1">&#11015;</a>
                              {% endif %}
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Тип
                              {% if typeSorted %}
                                  <a class="float-right" href="{% url 'contacts' %}?type_sort2">&#11014;</a>
                              {% else %}
                                  <a class="float-right" href="{% url 'contacts' %}?type_sort1">&#11015;</a>
                              {% endif %}
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Информация
                              {% if infoSorted %}
                                  <a class="float-right" href="{% url 'contacts' %}?info_sort2">&#11014;</a>
                              {% else %}
                                  <a class="float-right" href="{% url 'contacts' %}?info_sort1">&#11015;</a>
                              {% endif %}
                          </th>
                          <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Дата добавления/изменения
                              {% if dateSorted %}
                                  <a class="float-right" href="{% url 'contacts' %}?date_sort2">&#11014;</a>
                              {% else %}
                                  <a class="float-right" href="{% url 'contacts' %}?date_sort1">&#11015;</a>
                              {% endif %}
                              </th>
                      </tr>
                      <tr>
                          <th>
                              {{ context.KEY }}
                              <form class="ajax_form" method="get" action="{% url 'contacts' %}?id={{ ajaxIdSearch.value }}&ajh=1">{{ ajaxIdSearch.KEY }}</form>
                          </th>
                          <th>
                              {{ context.subject }}
                              <form class="ajax_form" method="get" action="{% url 'contacts' %}?subject={{ ajaxSubjectSearch.value }}&ajh=1">{{ ajaxSubjectSearch.subject }}</form>
                          </th>
                          <th>
                              {{ context.type }}
                              <form class="ajax_form" method="get" action="{% url 'contacts' %}?type={{ ajaxTypeSearch.value }}">{{ ajaxTypeSearch.type }}</form>
                          </th>
                          <th>
                              {{ context.info }}
                              <form class="ajax_form" method="get" action="{% url 'contacts' %}?info={{ ajaxInfoSearch.value }}">{{ ajaxInfoSearch.info }}</form>
                          </th>
                          <th>
                              <form class="ajax_form" method="get" action="{% url 'contacts' %}?date={{ ajaxDateSearch.value }}">{{ ajaxDateSearch.date }}</form>
                          </th>
                      </tr>
                      <tr>
                          <form method="post" action="{% url 'contacts' %}">
                              {% csrf_token %}
                              {{ search.subject }}
                              {{ search.type }}
                              {{ search.info }}
                              {{ search.date }}
                              <input type="hidden" name="indicator" value="1">
                              <button type="submit" class="btn btn-outline-success">Найти</button>
                          </form>
                      </tr>
                      </thead>
                      <tbody>
                      {% for contact in contacts %}
                          <tr role="row" class="odd">
                              <td class="sorting_1">{{ contact.id }}</td>
                              <td><a href="{% url 'contacts' %}?subject={{ contact.subject.name }}">{{ contact.subject.name }}</a></td>
                              <td><a href="{% url 'contacts' %}?type={{ contact.type.name }}">{{ contact.type.name }}</a></td>
                              <td><a href="{% url 'contacts' %}?info={{ contact.info }}">{{ contact.info }}</a></td>
                              <td>{{ contact.date }}
                                  <a href="{% url 'delete' id=contact.id %}">
                                      <button class="btn btn-outline-danger ml-3 float-right rounded">&#10006;</button>
                                  </a>
                              </td>
                          </tr>
                      {% endfor %}
                      <tr>
                          <td id="test_id"></td>
                          <td id="test_subject"></td>
                          <td id="test_type"></td>
                          <td id="test_info"></td>
                          <td id="test_date"></td>
                      </tr>
                      <span class="m-2">
                            {% if contacts.has_previous %}
                                <a href="?page={{ contacts.previous_page_number }}"><button class="btn btn-outline-primary">&lArr;</button></a>
                            {% endif %}

                            <span>
                                Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                            </span>

                          {% if contacts.has_next %}
                              <a href="?page={{ contacts.next_page_number }}"><button class="btn btn-outline-primary">&rArr;</button></a>
                          {% endif %}
                      </span>
                      <tr>
                          <td></td>
                          <td>
                              <form  class="d-flex" method="post" action="{% url 'newsub' %}">
                                  {% csrf_token %}
                                  {{ addSubject.name }}
                                  <input type="hidden" name="indicator" value="2">
                                  <button type="submit" class="btn btn-success">&#10010;</button>
                              </form>
                          </td>
                          <td>
                              <form class="d-flex" method="post" action="{% url 'newtype' %}">
                                  {% csrf_token %}
                                  {{ addType.name }}
                                  <input type="hidden" name="indicator" value="3">
                                  <button type="submit" class="btn btn-success">&#10010;</button>
                              </form>
                          </td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <form method="post" action="{% url 'contacts' %}">
                              {% csrf_token %}
                              <td>...</td>
                              <td>{{ addContact.subject }}</td>
                              <td>{{ addContact.type }}</td>
                              <td>{{ addContact.info }}</td>
                              <input type="hidden" name="indicator" value="4">
                              <td><button type="submit" class="btn btn-success">Добавить</button></td>
                          </form>
                      </tr>
                  </table>

              </div>
            </div>
    </div>
    <!-- /.box-body -->
    <div>
        <div>
             <h3>Редактировать контакт</h3><br>
             <form class="d-flex" method="post" action="{% url 'edit' %}">
                 {% csrf_token %}
                 {{ editContact.KEY }}
                 {{ editContact.subject }}
                 {{ editContact.type }}
                 {{ editContact.info }}
                 <input type="hidden" name="indicator" value="5">
                 <button type="submit" class="btn btn-success">Изменить</button>
             </form>
        </div>
    </div>

{#    <script>#}
{#        document.getElementById('ajax_search_id_form').addEventListener('input', function (event){#}
{#            $.ajax({#}
{#                type: 'GET',#}
{#                url: '{% url "contacts" %}',#}
{#                data: {#}
{#                    'data_id': $('#ajax_search_id_form').val()#}
{#                },#}
{#                cache: false,#}
{#                success: function (data){#}
{#                    alert(data);#}
{#                }#}
{#            });#}
{#        });#}
{#    </script>#}

{% endblock content %}